In [7]:
import numpy as np
import pandas as pd

df_train = pd.read_csv('train_nan.csv')
df_test = pd.read_csv('test_nan.csv')

In [8]:
df_train

,id,Umur,Berat Akhir,Jmlh Tahun Pendidikan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji,Berpisah,...,9th,D3,D4,Doktor,Master,Pendidikan Tinggi,SD,SMA,Sarjana,Sekolah Professional
0,0,21,242912,9,0,0.0,0.0,35.0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,49,140782,6,0,0.0,0.0,40.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,44,120057,12,1,61404000.0,0.0,45.0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,3,24,194630,13,1,0.0,0.0,35.0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,33,219619,14,1,210336000.0,0.0,40.0,1,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35989,35989,47,148169,9,1,0.0,0.0,40.0,0,0,...,0,0,0,0,0,0,0,1,0,0
35990,35990,69,264722,12,1,0.0,0.0,40.0,1,0,...,0,1,0,0,0,0,0,0,0,0
35991,35991,24,31606,13,0,0.0,0.0,20.0,1,0,...,0,0,0,0,0,0,0,0,1,0
35992,35992,47,197836,9,1,0.0,0.0,45.0,0,0,...,0,0,0,0,0,0,0,1,0,0
35993,35993,45,243743,13,1,0.0,0.0,60.0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
from sklearn.preprocessing import MinMaxScaler

mm_scale = MinMaxScaler().fit(df_train[['Jam per Minggu','Jmlh Tahun Pendidikan','Umur','Berat Akhir','Keuntungan Kapital','Kerugian Capital']])

In [10]:
train_std = mm_scale.transform(df_train[['Jam per Minggu','Jmlh Tahun Pendidikan','Umur','Berat Akhir','Keuntungan Kapital','Kerugian Capital']])
test_std = mm_scale.transform(df_test[['Jam per Minggu','Jmlh Tahun Pendidikan','Umur','Berat Akhir','Keuntungan Kapital','Kerugian Capital']])

In [11]:
df_tr_std = pd.DataFrame(train_std, columns=['Jam per Minggu','Jmlh Tahun Pendidikan','Umur','Berat Akhir','Keuntungan Kapital','Kerugian Capital'])
df_te_std = pd.DataFrame(test_std, columns=['Jam per Minggu','Jmlh Tahun Pendidikan','Umur','Berat Akhir','Keuntungan Kapital','Kerugian Capital'])

In [12]:
cektr = df_train.drop(['Jam per Minggu','Jmlh Tahun Pendidikan','Umur','Berat Akhir','Keuntungan Kapital','Kerugian Capital'], axis=1)
trainkun = pd.concat([cektr,df_tr_std],axis = 1)

cekte = df_test.drop(['Jam per Minggu','Jmlh Tahun Pendidikan','Umur','Berat Akhir','Keuntungan Kapital','Kerugian Capital'], axis=1)
testkun = pd.concat([cekte,df_te_std],axis = 1)

In [13]:
trainkun.to_csv('train_mm_semua.csv', index=False)

In [14]:
testkun.to_csv('test_mm_semua.csv', index=False)

In [15]:
trainkun

,id,Jenis Kelamin,Gaji,Berpisah,Cerai,Janda,Menikah,Menikah LDR,Ekesekutif Managerial,Mesin Inspeksi,...,SD,SMA,Sarjana,Sekolah Professional,Jam per Minggu,Jmlh Tahun Pendidikan,Umur,Berat Akhir,Keuntungan Kapital,Kerugian Capital
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0.346939,0.533333,0.054795,0.156028,0.000000,0.0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0.397959,0.333333,0.438356,0.086933,0.000000,0.0
2,2,1,1,0,0,0,1,0,1,0,...,0,0,0,0,0.448980,0.733333,0.369863,0.072912,0.043860,0.0
3,3,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0.346939,0.800000,0.095890,0.123363,0.000000,0.0
4,4,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0.397959,0.866667,0.219178,0.140269,0.150242,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35989,35989,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0.397959,0.533333,0.410959,0.091931,0.000000,0.0
35990,35990,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0.397959,0.733333,0.712329,0.170783,0.000000,0.0
35991,35991,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0.193878,0.800000,0.095890,0.013071,0.000000,0.0
35992,35992,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0.448980,0.533333,0.410959,0.125532,0.000000,0.0
35993,35993,1,1,0,0,0,1,0,1,0,...,0,0,1,0,0.602041,0.800000,0.383562,0.156590,0.000000,0.0